:root {
    --primary-padding1: 0.5rem;
    --primary-padding2: 0.25rem 0.5rem;
    --primary-margin: 0.25rem 0.5rem;
    --primary-gap: 0.5rem;
    --main-primary-color: rgb(200, 200, 200);
    --main-primary-color2: rgb(180, 180, 180);
    --main-secondary-color: #fff;
    --main-tertiary-color: #f00;

    --button-border-color: rgb(200, 200, 200);
    --button-border-color-hover: rgb(160, 160, 160);
    --button-border-width: 1px;
    --button-border-radius: 0.25rem;
    --button-padding: var(--primary-padding2);

    --button-color: rgb(0, 30, 200);
    --button-color-hover: rgb(0, 30, 160);
    --button-submit-color: hsl(50, 100%, 50%);
    --button-submit-color-hover: hsl(50, 100%, 40%);
    --button-reset-color: hsl(0, 100%, 50%);
    --button-reset-color-hover: hsl(0, 100%, 40%);

    --border-width: 1px;
    --border-color: rgb(200, 200, 200);
    --border-radius: 0.25rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-primary-color);
    color: var(--main-secondary-color);
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
aside {
    display: flex;
    flex-grow: 1;
    text-wrap: nowrap;
    padding: var(--primary-padding2);
}
nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}
nav > ol:last-child {
    margin-left: auto;
    flex-direction: row;
}
nav ol span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--primary-padding1);
}
main {
    display: flex;
    width: 100%;
    flex-grow: 3;
    padding: var(--primary-padding1);
}
@media screen and (max-width: 500px) {
    main {
        background-color: rgba(0, 128, 0, 0.171);
        display: flex;
        width: 100%;
        flex-grow: 3;
        padding: 0;
        margin: 0;
    }
}
ul:has(:not(li)) {
    all: unset;
    display: flex;
    flex-direction: column;
    list-style: none;
}
strong {
    all: unset;
    width: 100%;
}
@media screen and (max-width: 500px) {
    ul:has(:not(li)) {
        all: unset;
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;
    }
}

ol:has(:not(li)) {
    all: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-between;
}
@media screen and (max-width: 500px) {
    ol:has(:not(li)) {
        all: unset;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style: none;
    }
}
form {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--primary-gap);
}
form > b {
    background-color: var(--main-primary-color2);
}
form > b:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom: var(--border-width) solid var(--border-color);
}
form > b:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top: var(--border-width) solid var(--border-color);
}

form ol {
    gap: var(--primary-gap);
    padding: var(--primary-margin);
}
form b {
    gap: var(--primary-gap);
    padding: var(--primary-margin);
}
form b ol {
    padding: 0;
}
@media screen and (max-width: 500px) {
    form ol {
        gap: var(--primary-gap);
    }
    form b {
        gap: var(--primary-gap);
    }
}
center {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 500px) {
    center {
        all: unset;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

button[type="submit"] {
    all: unset;
    border: 1px solid var(--button-submit-color);
    border-radius: var(--button-border-radius);
    color: var(--button-submit-color);
    cursor: pointer;
    padding: var(--button-padding);
    text-wrap: nowrap;
}
button[type="submit"]:hover {
    all: unset;
    border: 1px solid var(--button-submit-color-hover);
    border-radius: var(--button-border-radius);
    color: var(--button-submit-color-hover);
    cursor: pointer;
    text-wrap: nowrap;
    padding: var(--button-padding);
}
button[type="button"] {
    all: unset;
    color: var(--button-color);
    /* border: 1px solid var(--button-border-color); */
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    text-wrap: nowrap;
}
button[type="button"]:hover {
    all: unset;
    color: var(--button-color-hover);
    /* border: var(--button-border-width) solid var(--button-border-color-hover); */
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    text-wrap: nowrap;
    cursor: pointer;
}
button[type="reset"] {
    all: unset;
    color: var(--button-reset-color);
    border: 1px solid var(--button-reset-color);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    text-wrap: nowrap;
}
button[type="reset"]:hover {
    all: unset;
    color: var(--button-reset-color-hover);
    border: var(--button-border-width) solid var(--button-reset-color-hover);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    text-wrap: nowrap;
}
input {
    all: unset;
    height: 2rem;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    padding: var(--button-padding);
    background-color: rgb(231, 231, 231);
    color: black;
}
label {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: var(--primary-gap);
}
div {
    all: unset;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    gap: var(--primary-gap);
}
span:has(> div) {
    all: unset;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--primary-gap);
}
@media (min-width: 640px) and (max-width: 1280px) {
    input[type="search"] {
        width: 2rem;
        height: 2rem;
        padding: var(--button-padding);
    }
}
p {
    all: unset;
    padding: var(--primary-padding1);
}
