nav {
    display: flex !important;
    flex-direction: row;
    padding: 8px;
}
nav > ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}
nav > ul:last-child {
    margin-left: auto;
}
